<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Administrador</h5>
                </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title font-weight-normal" style="color: white;">Gerenciamento</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title font-weight-normal" style="color: white;">Registrar:</span>
            </a>
            <div  id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/motorista/cadastrar">Motorista</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/passageiro/cadastrar">Passageiro</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/linha/cadastrar">Linhas</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/onibus/cadastrar">Onibus</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Motoristas</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0" id="qtd-motorista"></h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Motoristas atuando na empresa</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>População</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">5850</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal"> 10.61% da populaçao usando nosso transporte</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Passes</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">239</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">2.27% de passes sendo utilizado nas linhas</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Últimos passageiros cadastrados:</h4>
                    <div class="table-responsive">
                      <table class="table" id="passageiros">
                        <thead>
                          <tr>
                            <th> ID </th>
                            <th> Nome </th>
                            <th> CPF </th>
                            <th> Email </th>
                          </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © empresa.com 2023</span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        try {
          const tbody = document.querySelector('#passageiros tbody');

          // Código para listar os passageiros
          const response = await axios.get('http://localhost:5000/passageiros/listar'); 
          response.data.forEach(passageiro => {
            const tr = document.createElement('tr');

            // Criação e preenchimento das colunas da tabela
            const codigoTd = document.createElement('td');
            codigoTd.textContent = passageiro.id;
            tr.appendChild(codigoTd);

            const nomeTd = document.createElement('td');
            nomeTd.textContent = passageiro.nome;
            tr.appendChild(nomeTd);

            const cpfTd = document.createElement('td');
            cpfTd.textContent = passageiro.cpf;
            tr.appendChild(cpfTd);

            const emailTd = document.createElement('td');
            emailTd.textContent = passageiro.email;
            tr.appendChild(emailTd);

            const acoesTd = document.createElement('td');
            const exibirLink = `<a class="btn btn-primary mr-2" href="/admin/passageiro/exibir/${passageiro.id}">Exibir</a>`;
            const editarLink = `<a class="btn btn-secondary mr-2"  href="/admin/passageiro/editar/${passageiro.id}">Editar</a>`;
            const deletarLink = `<a class="btn btn-danger mr-2" href="/admin/passageiro/excluir/${passageiro.id}">Excluir</a>`;
            acoesTd.innerHTML = `${exibirLink} | ${editarLink} | ${deletarLink}`;
            tr.appendChild(acoesTd);

            tbody.appendChild(tr);
          });

          // Código para obter a quantidade de motoristas
          const responseQtdMotoristas = await axios.get('http://localhost:5000/motoristas/quantidadeTotal');
          const qtdMotoristas = responseQtdMotoristas.data;

          const qtdMotoristaElement = document.getElementById('qtd-motorista');
          qtdMotoristaElement.textContent = qtdMotoristas;
        } catch (error) {
          console.log(error);
          alert(error.response?.data?.mensagem || 'Erro ao carregar dados.');
        }
      });
    </script>
  </body>
</html>