<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End Plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="#"><img src="/assets/images/logo.svg"
            alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="#"><img src="/assets/images/logo-mini.svg"
            alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Nome</h5>
                <span>Administrador</span>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navegação</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="#">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Gerenciamento</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Admin de Usuarios</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/Onibus.html">Ônibus</a></li>
              <!-- Atualizado para apontar para a página de Ônibus -->
              <li class="nav-item"> <a class="nav-link" href="pages/Passe.html">Passe</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/Linhas.html">Linhas</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/Onibus.html">Ônibus</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="#"><img src="/assets/images/logo-mini.svg"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Pesquisa">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Dados do Ônibus </h3>
            <nav aria-label="breadcrumb">
            </nav>
          </div>
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Informações</h4>
                  <main class="container">
                    <div id="informacoesOnibus"></div>
                    <form id="formExcluir">
                      <input type="hidden" id="id" name="id">
                      <input class="btn btn-danger mr-2" type="submit" value="Desejo excluir este registro">
                    </form>
                  </main>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © empresa.com
                2023</span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>

    <script>
      async function carregarDetalhesOnibus() {
        try {
          const id = window.location.pathname.split('/').pop();
          const response = await axios.get(`http://localhost:5000/onibus/exibir/${id}`);
          const onibus = response.data;

          const informacoesOnibus = document.querySelector("#informacoesOnibus");

          const placaElem = document.createElement('div');
          placaElem.innerHTML = `<div><strong>Placa do Veículo:</strong> ${onibus.placa}</div>`;
          informacoesOnibus.append(placaElem);

        } catch (error) {
          console.log(error);

          if (error?.response?.status === 404) {
            alert("Ônibus não encontrado.");
            window.location.href = "/admin/onibus/listar";
          } else {
            alert(error.response.data.mensagem);
          }
        }
      }

      async function excluir(event) {
        event.preventDefault();

        const confirmacao = confirm("Tem certeza que deseja deletar este ônibus?");
        if (confirmacao) {
          try {
            const id = window.location.pathname.split('/').pop();
            await axios.delete(`http://localhost:5000/onibus/excluir/${id}`);
            alert("Ônibus deletado com sucesso.");
            window.location.href = "/admin/onibus/cadastrar";
          } catch (error) {
            console.log(error);
            alert("Erro ao deletar o ônibus.");
          }
        }
      }

      carregarDetalhesOnibus();
      document.querySelector("form#formExcluir").addEventListener("submit", excluir);
    </script>
  </body>

  </html>
