<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../assets/images/faces/face15.jpg" alt="">
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Nome</h5>
                  <span>Administrador</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="../../index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Gerenciamento</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Admin de Usuarios</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Motorista.html">Motorista</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Passe.html">Passe</a></li>
                <li class="nav-item"> <a class="nav-link"   href="../../pages/ui-features/Linhas.html">Linhas</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Onibus.html">Onibus</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Pesquisa">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Cadastro de linha </h3>
              <nav aria-label="breadcrumb">
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Editar a Linha</h4>
                    <form id="formLinhas" class="forms-sample">
                      <div class="form-group">
                        <label for="nome">Nome da Linha</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Linha">
                      </div>
                      <div class="form-group">
                        <label for="localsaida">Local de saida</label>
                        <input type="text" class="form-control" id="localsaida" name="localsaida" placeholder="Local de saida">
                      </div>
                      <div class="form-group">
                        <label for="localdestino">Local de Destino</label>
                        <input type="text" class="form-control" id="localdestino" name="localdestino" placeholder="Local de Destino">
                      </div>
                      <div class="form-group">
                        <label for="horariosaida">Horario de saida</label>
                        <input type="time" class="form-control" id="horariosaida" name="horariosaida" placeholder="Horario de saida">
                      </div>
                      <div class="form-group">
                        <label for="horariochegada">Horario de chegada</label>
                        <input type="time" class="form-control" id="horariochegada" name="horariochegada" placeholder="Horario de chegada">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Editar</button>
                    </form>
                  </div>
                </div>
              </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © empresa.com 2023</span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/admin/linhas/linhas_create.js"></script>

    
  </body>
</html>