<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../assets/images/faces/face15.jpg" alt="">
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Nome</h5>
                  <span>Administrador</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="../../index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Gerenciamento</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Admin de Usuarios</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Motorista.html">Motorista</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Passe.html">Passe</a></li>
                <li class="nav-item"> <a class="nav-link"   href="../../pages/ui-features/Linhas.html">Linhas</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/Onibus.html">Onibus</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Pesquisa">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Linhas ativas</h4>
              </p>
              <div class="table-responsive">
                <table class="table table-striped" id="linha">
                  <thead>
                    <tr>
                      <th> ID </th>
                      <th> Nome da Linha </th>
                      <th> Local de Saida </th>
                      <th> Local de Destino </th>
                      <th> Horário de Saida </th>
                      <th> Horário de Chegada </th>
                    </tr>
                  </thead>
                  <tbody>        
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © empresa.com 2023</span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    const tbody = document.querySelector('#linha tbody');

                    const response = await axios.get('http://localhost:5000/linhas/listar');
                    response.data.forEach(linha => {
                        const tr = document.createElement('tr');

                        const codigoTd = document.createElement('td');
                        codigoTd.textContent = linha.id;
                        tr.appendChild(codigoTd);

                        const nomeTd = document.createElement('td');
                        nomeTd.textContent = linha.nome;
                        tr.appendChild(nomeTd);

                        const localsaidaTd = document.createElement('td');
                        localsaidaTd.textContent = linha.localsaida;
                        tr.appendChild(localsaidaTd);

                        const localdestinoTd = document.createElement('td');
                        localdestinoTd.textContent = linha.localdestino;
                        tr.appendChild(localdestinoTd);

                        const horariosaidaTd = document.createElement('td');
                        horariosaidaTd.textContent = linha.horariosaida;
                        tr.appendChild(horariosaidaTd);

                        const horariochegadaTd= document.createElement('td');
                        horariochegadaTd.textContent = linha.horariochegada;
                        tr.appendChild(horariochegadaTd);

                        const acoesTd = document.createElement('td');
                        const exibirLink = `<a class="btn btn-primary mr-2" href="/admin/linha/exibir/${linha.id}">Exibir</a>`;
                        const editarLink = `<a class="btn btn-secondary mr-2"  href="/admin/linha/editar/${linha.id}">Editar</a>`;
                        const deletarLink = `<a class="btn btn-danger mr-2" href="/admin/linha/excluir/${linha.id}">Excluir</a>`;
                        acoesTd.innerHTML = `${exibirLink} | ${editarLink} | ${deletarLink}`;
                        tr.appendChild(acoesTd);

                        tbody.appendChild(tr);
                    });

                } catch (error) {
                    console.log(error);
                    alert(error.response.data.mensagem);
                }
            });

        </script>


    
  </body>
</html>