<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Catraca</title>
    <link rel="stylesheet" href="css/catraca.css">
    
</head>

<body>
    <div class="container">
        
        <div id="dataHora"></div>
        <h6>Linha IFSP</h6>
        <h1>APROXIME <br> SEU CARTÃO</h1>
        <img src="./img/cartao-nfc.png" width="250px">
        
        <p>www.liv-transportes.netlify.app</p>
    </div>
    <form>
        <input type="text" autofocus>
        <button type="submit"></button>
    </form>

    <script src="/js/catraca/dataHora.js"></script>
</body>

</html>