<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Catraca</title>
    <link rel="stylesheet" href="/css/catraca.css">

</head>

<body>
    <div class="container">

        <div id="dataHora"></div>
        <h6>Linha IFSP</h6>
        <h1>APROXIME <br> SEU CARTÃO</h1>
        <img src="./img/cartao-nfc.png" width="250px">
        <form>
            <input type="text" id="numeroCartaoInput" >
            <button type="button" onclick="simularLeituraNFC()">Simular Leitura</button>
        </form>
        <p>www.liv-transportes.netlify.app</p>
    </div>


    <script src="/js/catraca/dataHora.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <script>
      function simularLeituraNFC() {
          const numeroCartaoInput = document.getElementById("numeroCartaoInput");

          const numeroCartaoLido = "1234567890123456";

          const eventoLeituraNFC = new CustomEvent("leituraNFC", {
              detail: { numeroCartao: numeroCartaoLido },
          });

          document.dispatchEvent(eventoLeituraNFC);

          numeroCartaoInput.value = numeroCartaoLido;
      }

      document.addEventListener("leituraNFC", async function (event) {
    const numeroCartaoLido = event.detail.numeroCartao;

    try {
        const response = await axios.post(
            "http://localhost:5000/catraca/verificar-saldo",
            { numeroCartao: numeroCartaoLido }
        );

        if (response.data.saldoSuficiente) {
            window.location.href = `/catraca/sucesso`;
        } else {
            window.location.href = `/catraca/negado`;
        }
    } catch (error) {
        console.error(error);
        window.location.href = `/catraca/error`;
    }
});

  </script>
    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
          const numeroCartaoInput = document.getElementById("numeroCartaoInput");
  
          const eventoLeituraNFC = new CustomEvent("leituraNFC", {
              detail: { numeroCartao: "1234567890123456" },
          });
  
          document.dispatchEvent(eventoLeituraNFC);
  
          document.addEventListener("leituraNFC", async function (event) {
              const numeroCartaoLido = event.detail.numeroCartao;
  
              try {
                  const response = await axios.post(
                      "http://localhost:5000/catraca/verificar-saldo",
                      { numeroCartao: numeroCartaoLido }
                  );
  
                  if (response.data.saldoSuficiente) {
                      window.location.href = `/catraca/sucesso`;
                  } else {
                      window.location.href = `/catraca/negado`;
                  }
              } catch (error) {
                  console.error(error);
                  window.location.href = `/catraca/error`;
              }
          });
      });
  </script> -->

</body>

</html>