<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Catraca</title>
    <link rel="stylesheet" href="css/passeEstudante.css">
    
</head>

<body>
    <div class="container">
        <h1>Passe Estudante</h1>
        <h6>Seus passes diários <br> esgotaram</h6>
        <img src="./img/recusado.png" width="250px">
        
        <p>www.nomedositeprincipal.com</p>
    </div>

    <script src="./js/dataHora.js"></script>
</body>

</html>